// Custom styles.
body {
  font-size: 16px;
  z-index: 9;
}
p {
  margin-bottom: 14px;
}
.posts-expand {
  padding-top: 20px;
  .post-title,.post-meta {
    text-align: justify;
  }
  .post-title {
    font-size: 30px;
  }
  .post-eof {
    width: 50%
    background-color: #fff;
    border-top: 1px dashed #ccc;
    margin: 70px auto;
  }
  .post-meta {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.post-button .btn {
  margin-left: 0;
}
.post-body {
  h1 {
    font-size: 26px;
    color: #f44336;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
}